#!/bin/bash
# /etc/maas/regiond.conf
database_host: localhost
database_name: maasdb
database_pass: SJoZjyTSWPFq
database_port: 5432
database_user: maas
maas_url: http://10.0.10.11:5240/MAAS

database_host: = ‘{{ pg_database.host() }}’
database_name: = ‘{{ pg_database.database() }}’
database_pass: = ‘{{ pg_database.password() }}’
database_port: = ‘{{ pg_database.port() }}’
database_user: = ‘{{ pg_database.user() }}’
maas_url: = ‘{{ maas.url() }}’